body {
    font-family: Arial, sans-serif;
    background: gray;
    margin: 0;
    padding: 0;
    text-align: center;
}

h2 {
    margin-top: 20px;
}

.screen {
    display: none;
    padding: 20px;
}

    .screen.active {
        display: block;
    }

.card {
    background: white;
    border-radius: 10px;
    padding: 15px;
    margin: 15px auto;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

input, select, button {
    display: block;
    width: 90%;
    margin: 8px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    background: #007bff;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

    button:hover {
        background: #0056b3;
    }

pre {
    background: #f1f1f1;
    text-align: left;
    padding: 10px;
    border-radius: 5px;
    max-width: 320px;
    margin: auto;
    overflow-x: auto;
}
